.themepile__wrapper {
	position: relative;
	margin: 20px 0 0;
	background: #fff;
	width: 95%;
	max-width: 1200px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ThemePile Header */

.themepile__header {
	margin: 1px 0 1px 1px;
	overflow: hidden;
	padding: 40px 20px 40px 40px;
	border-radius: 5px 0 0 0;
	border-bottom: 1px solid #272d36;
}

.themepile__tp-logo {
	opacity: .2;
	margin: 15px 0 0;
}

.themepile__tp-logo IMG {
	width: 90px;
}

.themepile__theme-title {
	margin: 9px 0 0;
	font-size: 24px;
	color: #fff;
}

.themepile__theme-title EM {
	margin: 5px 0;
	display: block;
	color: #777;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
}

.themepile__header__nav {
	overflow: hidden;
	margin: 40px 0 0;
}

.themepile__header__nav__item {
	font-size: 11px;
	float: left;
	margin: 0 10px 0 0;
}

.themepile__header__nav__item A {
	display: block;
	color: #999;
	text-decoration: none;
}

.themepile__header__nav__item A:HOVER {
	color: #fff;
}

/* ThemePile Primary */

.themepile__primary {
	position: relative;
	overflow: hidden;
	padding: 0;
	min-height: 460px;
}

/* ThemePile Sidebar */

.themepile__sidebar {
	position: absolute;
	margin: 0;
	background: #363F48;
	width: 240px;
	height: 100%;
}

.themepile__sidebar__nav {
	margin: 0;
	border-top: 1px solid #617284;
	border-bottom: 1px solid #617284;
}

.themepile__sidebar__nav__item {
	margin: 0;
	position: relative;
	cursor: pointer;
}

.themepile__sidebar__nav__item IMG {
	display: block;
	left: 12px;
	position: absolute;
	top: 11px;
	opacity: .4;
}

.themepile__sidebar__nav-link {
	position: relative;
	display: block;
	padding: 10px 40px;
	border-top: 1px solid #617284;
	border-bottom: 1px solid #272d36;
	text-decoration: none;
	color: #999;
	font-weight: bold;
}

.themepile__sidebar__nav-link:HOVER {
	color: #aaa;
	background: #434f58;
}

.themepile__sidebar__nav__item_state_current
.themepile__sidebar__nav-link:AFTER {
	position: absolute;
	display: block;
	content: " ";
	width: 0;
	height: 0;
	top: 1px;
	right: -12px;
	border-top: 18px solid transparent;
	border-left: 12px solid #fff;
	border-bottom: 18px solid transparent;
}

.themepile__sidebar__nav__item_state_current
.themepile__sidebar__nav-link:before {
	position: absolute;
	display: block;
	content: " ";
	width: 0;
	height: 0;
	top: 0;
	right: -13px;
	border-top: 19px solid transparent;
	border-left: 12px solid #ccc;
	border-bottom: 19px solid transparent;
}

.themepile__sidebar__nav__item_state_current .themepile__sidebar__nav-link {
	background: #fff;
	color: #333;
}

.themepile__sidebar__nav__item_state_current IMG {
	opacity: .8;
}

.themepile__sidebar__nav__item:FIRST-CHILD
.themepile__sidebar__nav-link {
	border-top: 0;
}

/* ThemePile Content */

.themepile__content {
	margin: 0 0 0 240px;
	padding: 40px 0 60px 0;
}

.themepile__content h2 {
	font-size: 30px;
	line-height: 32px;
	margin: 0;
}

.themepile__section {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 0 40px 30px;
	border-bottom: 1px solid #eee;
}

.themepile__section__title {
	font-size: 18px;
	margin: 0;
	color: #333;
}

.themepile__section__description {
	color: #777;
	margin: 10px 0 25px;
}

.themepile__section__left {
	float: left;
	width: 300px;
}

.themepile__section__field {
	position: relative;
	float: right;
	width: 380px;
	min-width: 380px;
}

.themepile__section__field TEXTAREA {
	width: 380px;
}

.themepile__section__field_type_skin {
	overflow: hidden;
}

.themepile__section__field_type_skin LABEL {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.themepile__section__field_type_skin INPUT {
	position: absolute;
	left: -10000px;
	opacity: 0;
}

.themepile-ui-input--radio INPUT[type="radio"] + IMG {
	opacity: .6;
}

.themepile-ui-input--radio INPUT[type="radio"]:checked + IMG {
	opacity: 1;
}

.themepile__section__field_type_skin SPAN {
	display: block;
	margin-bottom: 5px;
}

/* ThemePile Footer */

.themepile__footer {
	overflow: hidden;
	border-top: 1px solid #ccc;
	padding: 20px;
	background: #eee;
}

.themepile__footer INPUT[type=submit] {
	float: right;
}

.themepile__footer INPUT.reset[type=submit] {
	float: left;
}

.themepile__messages {
	display: none;
	font-size: 18px;
	margin: 0 40px 40px;
	padding: 30px;
	background: #eee;
	border-radius: 5px;
	text-align: center;
}

.themepile__messages_type_norify {
	background: #f9ffdb;
}

.themepile__messages_type_success {
	color: #fff;
	background: #81c97c;
}

.themepile__messages_type_error {
	color: #fff;
	background: #c9524e;
}

.themepile__content__item {
	display: none;
}

.themepile__content__item:FIRST-CHILD {
	display: block;
}

.themepile-google-get-location {
	margin-bottom: 30px;
}

.themepile-google-get-location .row {
	margin-bottom: 15px;
}

.themepile-google-get-location-search-submit {
	display: inline-block;
	margin-top: 5px;
	font-size: 11px;
	text-decoration: none;
	border-bottom: 1px dotted #21759B;
}

.themepile-wp-uploader__image {
	margin-bottom: 10px;
}

.themepile-wp-uploader__image IMG {
	display: inline-block;
	padding: 20px;
	background: #eee;
	border: 1px dotted #ccc;
	max-width: 340px;
}

[data-themepile-plugin="themepile-wp-uploader"] P.description {
	margin-bottom: 10px;
	font-size: 11px;
}

[data-themepile-wp-uploader-input] {
	margin-bottom: 5px;
}

.themepile-metabox--slider__item {
	margin: 5px 10px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.themepile-metabox--slider__item--placeholder {
	margin: 15px 10px;
	border: 1px dashed #ccc;
	border-radius: 3px;
	min-height: 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.themepile-metabox--slider__item__header {
	position: relative;
}

.themepile-metabox__header {
	margin: 25px 10px;
}

.themepile-metabox__controls--slider LABEL SPAN {
	display: inline-block;
	min-width: 100px;
}

.themepile-metabox__controls--slider LABEL SPAN[title] {
	cursor: help;
}

.themepile-metabox__controls__row {
	margin-bottom: 10px;
	display: block;
}

.themepile-metabox__header .shortcode {
	margin: 0 0 30px !important;
	display: inline-block;
	padding: 20px;
	background: #fcfcfc;
	border: 1px dashed #ccc;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.themepile-metabox__header .shortcode INPUT {
	display: block;
	width: 100%;
}

.themepile-metabox--slider__item__rows {
	padding: 10px 20px;
}

.themepile-metabox--slider__item .themepile-wp-uploader INPUT[data-themepile-wp-uploader-input] {
	width: 500px;
}

.themepile-metabox--slider__item LABEL {
	display: block;
	margin-bottom: 5px;
}

.themepile-metabox--slider__item TEXTAREA {
	display: block;
	width: 500px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.themepile-metabox--slider__item .mceEditor {
	display: block;
	padding: 5px;
	border: 1px solid #DFDFDF;
	background: #fff;
}

.themepile-metabox--slider__item .row {
	margin-bottom: 15px;
}