/* --------------------------------------------------------------
10.0 Comments
-------------------------------------------------------------- */

.comment-navigation {
	font-size: 16px;
	margin: 0 0 6% 0;

	.button {
		display: inline-block;
	}

	.button:empty {
		display: none;
	}

	.nav-previous a:before {
		content: "\f0a8";
		font-family: "FontAwesome";
		margin-right: 10px;
	}

	.nav-next a:after {
		content: "\f0a9";
		font-family: "FontAwesome";
		margin-left: 10px;
	}
}

.comments-toggle {
	display: inline-block;

	@include viewport(mobile) {
		width: 100%;
		text-align: center;
	}

	i {
		margin-right: 5px;
	}

	span:not(:first-child) {
		display: none;
	}
}

.show .comments-toggle {
	display: none;
}

.comments-area {
	clear: both;
	margin: $baseline*2 0;
	width: 100%;
	text-align: center;

	@include viewport(mxl) {
		text-align: left;
	}
}

.show.comments-area {
	display: inline-block;
}

h3.comments-title {
	display: inline-block;
	font-family: $font-body;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: $baseline*2;
	letter-spacing: 3px;
	padding: 5px 0;
	border-bottom: 2px solid $accent;
	color: $black;
}

h3.comment-reply-title {
	font-family: $font-body;
	font-size: 14px;
	color: $soft-gray;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#commentform {
	display: inline-block;
	width: 100%;
}

.comment-list #commentform {
	margin-top: 2%;
}

.comment-info {
	display: inline-block;
	margin: 5px 0 20px 0;
}

img + .comment-info {
	margin-left: 65px;

	@include viewport(mm) {
		margin-left: 75px;
	}
}

.comment-content {
	font-size: 14px;
	background: #fff;
	border: 1px dashed #efefef;
	padding: $baseline*2;
	position: relative;
	word-wrap: break-word;
	-ms-word-wrap: break-word;

	@include viewport(mm) {
		font-size: 16px;
	}
}

.bypostauthor .comment-content {
	background: #fff6a8;
}

.comment-list,
.comment-list li {
	margin: 0;
	counter-reset: li;
}

.comment-list > li {
	list-style-type: none;
	margin-bottom: 6%;
}

.comment-list .children {
	margin: $baseline 0 0 0;
	padding-left: $baseline;

	@include viewport(mxl) {
		margin: $baseline*2 0 0 0;
		padding-left: 50px;
	}

	li {
		margin-bottom: 6%;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.comment-list .children > li {
	list-style: none;
}

.comment-list .children .comment-content {

}

.comment-list .reply {
	margin-bottom: 0;
	font-size: 14px;

	a {
		color: #848a96;

		&:hover {
			color: $black;
		}
	}
}

.comment-list .avatar {
	margin: $baseline/2 0;
	width: 50px;
	border-radius: 100px;
	vertical-align: top;
	float: right;

	@include viewport(mobile) {
		width: 50px;
	}
}

.comment-wrap {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	text-align: left;
}

.comment-cite {
	font-style: normal;
	display: inline-block;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	font-family: $font-body;
	margin-bottom: $baseline;

	@include viewport(mobile) {
		font-size: 18px;
	}

	a {
		color: #aaa;

		&:hover {
			color: $black;
		}
	}
}

.comment-time, .comment-edit-link {
	font-size: 11px;
	float: right;
	text-transform: uppercase;
	color: #aaa;
}

.comment-list .comment-reply-title {
	margin-bottom: 3%;
	border: none;
	padding: 0;

	small {
		float: right;
	}
}

.logged-in-as, .comment-notes {
	margin-bottom: 2%;
	display: none;

	@include sans-uppercase;
}

.comment-notes {
	display: none;
}

.required {
	color: #F35959;
}

.logged-in-as a {
	color: $black;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
	display: inline-block;
	width: 100%;
}

.comment-list #respond {
	margin: $baseline*2 0 0 $baseline*2;
}

.comment-form-url {
	margin-bottom: 1em;
}

.comment-form label {
	color: $black;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 700;
	width: auto;
}

.comment-form input:not([type='submit']), .comment-form textarea {
	width: 100%;
	font-size: 14px;
	float: right;
}

.form-submit {
	display: inline-block;
	margin: 2rem 0 0;
	width: 100%;
}

.comment-form #submit {
	width: auto;
	float: right;
}

.form-allowed-tags {
	display: none;
}

.comment-subscription-form {
	margin-bottom: 10px;

	label {
		font-weight: normal;
		font-size: 14px;
	}
}

.comment-subscription-form {
	display: inline-block;
	width: 100%;

	.subscribe-label {
		float: right;
		margin: 0;
	}
}

#respond .comment-form-fields div.comment-form-field {
	width: 100% !important;
}

.comment-awaiting-moderation {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-style: normal;
}

.comment-awaiting-moderation:before {
	content: "\f06a";
	font-family: "FontAwesome";
	margin-right: 10px;
}

.no-comments {
	font-size: 14px;
	color: $black;
	margin-bottom: 0;
}

.comment-respond {
	background: #f9f9f9;
	border: 1px dashed #efefef;
	padding: $baseline*2;
}

.show-comment {
	display: inline-block;
	width: 100%;
}

/**
 * Subtitle Plugin
 * If subtitles are shown in comment areas, we'll hide them by default.
 *
 * @since 1.0.5
 */
#comments .comments-title span.entry-subtitle {
    display: none;
}
