/* --------------------------------------------------------------
14.0 Posts
-------------------------------------------------------------- */

.post {
	width: 100%;
	display: inline-block;
	position: relative;
	@include transition(all .3s ease);

	&.is-hovered a {
		color: $accent;
	}
}

.page:not(.home) .post,
.single .post {
	margin-bottom: 0;
}
