/* --------------------------------------------------------------
2.0 Typography
-------------------------------------------------------------- */

body, button {
  color: $black;
  font-family: $font-body;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;

  @include viewport(mm) {
    font-size: 17px;
  }

  @include viewport(mxl) {
    font-size: 19px;
  }

}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: $black;
  font-family: $font-title;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 3%;
}

/* Fallback title styles */

h1 {
  font-size: 44px;

  @include viewport(mm) {
    font-size: 50px;
  }

}

h2 {
  font-size: 38px;

  @include viewport(mm) {
    font-size: 40px;
  }
}

h3 {
  font-size: 28px;

  @include viewport(mm) {
    font-size: 30px;
  }
}

h4 {
  font-size: 24px;

  @include viewport(mm) {
    font-size: 26px;
  }
}

h5 {
  font-size: 20px;

  @include viewport(mm) {
    font-size: 20px;
  }
}

h6 {
  font-size: 16px;

  @include viewport(mm) {
    font-size: 16px;
  }
}

p, .embed-vimeo {
  margin-bottom: 1.2em;

  @include viewport(mm) {
    margin-bottom: 1.5em;
  }

  @include viewport(mxl) {
    margin-bottom: 1.8em;
  }
}

b, strong {
  font-weight: bold;
}

dfn, cite, em, i {
  font-style: italic;
}

.dropcap {
  float: left;
  padding: 0;
  position: relative;
  color: #343e47;
  text-align: center;
  height: 80px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 84px;
  line-height: .9;
  margin: 0 12px 10px 0;

  @include viewport(mm) {
    font-size: 105px;
  }

  &:first-letter {

  }
}

blockquote {
  color: $black;
  font-family: $font-body;
  font-size: 20px;
  line-height: 1.5;
  margin: 1em 0 1.4em 0;
  position: relative;
  padding: 20px 0 0 100px;
  background: #f9f9f9;
  border: 1px dashed #efefef;

  &:before {
    content: "\201C";
    font-family: 'georgia';
    position: absolute;
    left: 40px;
    font-size: 52px;
    width: 30px;
    top: 25px;
    line-height: 1;
  }

  @include viewport(mm) {
    font-size: 22px;
    line-height: 1.6;

    &:before {
      font-style: 60px;
      top: 22px;
    }
  }

  p {
    margin-bottom: 1em;
  }

  cite {
    display: block;
    font-family: 'Abril Fatface';
    font-style: normal;
    padding: 20px 0;
    font-size: 80%;
  }
}

.comments-area blockquote {
  border-left-color: #D7DEE5;
  font-family: $font-body;
  font-size: 16px;
  font-style: italic;

  @include viewport(mm) {
    font-size: 18px;
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f9f9f9;
  border: 1px dashed #efefef;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

.comments-area pre {
  background: #efefef;
  border: 1px dashed #efefef;
}

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

.highlight {
  background: #fff198;
}