/**
 *  Responsive Layout
 * ----------------------------------------------------------------------------
 */
@media (max-width: 1280px) {
  /**
   * Default State
   * ----------------------------------------------------------------------------
   */
  .cover {
    width: 220px;
  }

  .sidebar {
    width: 300px;
  }

  .primary {
    left: 150px;
    right: 220px;
    width: auto;
  }

  .ui-show-sidebar-toggle {
    left: 150px;
  }

  .scriptor--site-nav--open .site-nav-go-to-home-link {
    margin-top: -60px;
    opacity: 0;
  }
  .scriptor--site-nav--open .site-nav-inner {
    left: 0;
  }
  .scriptor--site-nav--open .container {
    left: 300px;
  }
  .scriptor--site-nav--open .ui-show-sidebar-toggle {
    left: 450px;
  }
  .scriptor--site-nav--open .gallery-popup {
    left: 300px;
  }

  .scriptor--sidebar--open .primary {
    left: 300px;
    right: 150px;
  }
  .scriptor--sidebar--open .ui-show-sidebar-toggle {
    left: 300px;
  }
  .scriptor--sidebar--open .sidebar {
    opacity: 1;
  }

  .scriptor--site-nav--open.scriptor--sidebar--open .ui-show-sidebar-toggle {
    left: 600px;
  }

  /**
   * Sidebar Right, Cover Right
   * ----------------------------------------------------------------------------
   */
  .scriptor--sidebar--right .cover {
    width: 300px;
  }
  .scriptor--sidebar--right .sidebar {
    width: 300px;
  }
  .scriptor--sidebar--right .primary {
    width: auto;
    left: 150px;
    right: 300px;
  }
  .scriptor--sidebar--right .sidebar {
    right: 300px;
    left: auto;
  }
  .scriptor--sidebar--right .primary {
    left: 0;
    right: 450px;
  }
  .scriptor--sidebar--right .ui-show-sidebar-toggle {
    left: auto;
    right: 450px;
  }

  .scriptor--site-nav--open.scriptor--sidebar--right .ui-show-sidebar-toggle {
    left: auto;
    right: 150px;
  }

  .scriptor--sidebar--right.scriptor--sidebar--open .sidebar {
    right: 150px;
    left: auto;
  }
  .scriptor--sidebar--right.scriptor--sidebar--open .cover {
    right: -150px;
  }

  .scriptor--site-nav--open.scriptor--sidebar--right.scriptor--sidebar--open .primary {
    left: 0;
    right: 450px;
  }
  .scriptor--site-nav--open.scriptor--sidebar--right.scriptor--sidebar--open .sidebar {
    right: 150px;
    left: auto;
  }
  .scriptor--site-nav--open.scriptor--sidebar--right.scriptor--sidebar--open .ui-show-sidebar-toggle {
    left: auto;
    right: 150px;
  }

  /**
   * Sidebar Left, Cover Left
   * ----------------------------------------------------------------------------
   */
  .scriptor--cover--left .cover {
    right: auto;
    left: 0;
  }
  .scriptor--cover--left .sidebar {
    right: auto;
    left: 220px;
  }
  .scriptor--cover--left .primary {
    left: 450px;
    right: 0;
  }
  .scriptor--cover--left .ui-show-sidebar-toggle {
    right: auto;
    left: 450px;
  }

  .scriptor--cover--left.scriptor--site-nav--open .container {
    left: 300px;
  }
  .scriptor--cover--left.scriptor--site-nav--open .ui-show-sidebar-toggle {
    right: auto;
    left: 750px;
  }

  .scriptor--cover--left.scriptor--sidebar--open .primary {
    left: 520px;
    right: -150px;
  }
  .scriptor--cover--left.scriptor--sidebar--open .ui-show-sidebar-toggle {
    right: auto;
    left: 520px;
  }

  .scriptor--cover--left.scriptor--sidebar--open.scriptor--site-nav--open .primary {
    left: 600px;
    right: -150px;
  }
  .scriptor--cover--left.scriptor--sidebar--open.scriptor--site-nav--open .ui-show-sidebar-toggle {
    right: auto;
    left: 900px;
  }

  /**
   * Sidebar Right, Cover Left
   * ----------------------------------------------------------------------------
   */
  .scriptor--sidebar--right.scriptor--cover--left .sidebar {
    left: auto;
    right: -150px;
  }
  .scriptor--sidebar--right.scriptor--cover--left .primary {
    left: 300px;
    right: 150px;
  }
  .scriptor--sidebar--right.scriptor--cover--left .ui-show-sidebar-toggle {
    right: 150px;
    left: auto;
  }

  .scriptor--sidebar--right.scriptor--cover--left.scriptor--sidebar--open .sidebar {
    right: 0;
    left: auto;
  }
  .scriptor--sidebar--right.scriptor--cover--left.scriptor--sidebar--open .primary {
    left: 150px;
    right: 300px;
  }
  .scriptor--sidebar--right.scriptor--cover--left.scriptor--sidebar--open .ui-show-sidebar-toggle {
    right: 300px;
    left: auto;
  }

  .scriptor--sidebar--right.scriptor--cover--left.scriptor--site-nav--open .ui-show-sidebar-toggle {
    right: -150px;
    left: auto;
  }

  .scriptor--sidebar--right.scriptor--cover--left.scriptor--site-nav--open.scriptor--sidebar--open .ui-show-sidebar-toggle {
    right: 0px;
    left: auto;
  }

  /**
  * Hide Sidebar
  * ----------------------------------------------------------------------------
  */
  .scriptor--sidebar--hidden .ui-show-sidebar-toggle {
    display: none;
  }
  .scriptor--sidebar--hidden .sidebar {
    display: none;
  }
  .scriptor--sidebar--hidden .primary {
    left: 0;
  }

  .scriptor--cover--left.scriptor--sidebar--hidden .primary {
    left: 300px;
    right: 0;
  }

  .scriptor--sidebar--right.scriptor--cover--left.scriptor--sidebar--hidden .primary {
    left: 300px;
    right: 0;
  }

  .scriptor--sidebar--right .primary {
    right: 300px;
  }
}
@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .admin-bar .cover {
    top: 0;
  }

  .cover {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 400px !important;
  }
  .cover .cover-image {
    width: 100%;
    height: auto;
  }
  .cover .cover-image img {
    width: 100%;
    height: auto;
  }
  .cover .google-map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .cover-body {
    top: auto;
    bottom: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    padding-left: 15%;
    padding-right: 10%;
  }
  .cover-body h1 {
    font-size: 65px;
    line-height: 65px;
    margin-bottom: 10px;
  }

  .primary {
    position: relative;
    top: 0;
    right: 0 !important;
    left: 0 !important;
  }
  .admin-bar .primary {
    top: 0;
  }

  .scriptor--single-content--two-columns.single-post .post.format-standard .entry-content, .scriptor--single-content--two-columns.single-post .type-post.format-standard .entry-content {
    -webkit-columns: 1;
    -moz-columns: 1;
    -ms-columns: 1;
    -o-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -ms-column-gap: 0;
    -o-column-gap: 0;
    column-gap: 0;
  }
  .scriptor--single-content--two-columns.single-post .type-page .entry-content {
    -webkit-columns: 1;
    -moz-columns: 1;
    -ms-columns: 1;
    -o-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -ms-column-gap: 0;
    -o-column-gap: 0;
    column-gap: 0;
  }

  .ui-show-sidebar-toggle {
    display: none;
  }

  .sidebar {
    display: block;
    position: relative;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    width: 100%;
    opacity: 1;
  }

  .widget_themepile_dribbbler ul li {
    text-align: center;
    padding: 20px;
  }
  .widget_themepile_dribbbler ul li img {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .admin-bar .cover {
    top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333332;
  }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #222221;
  }

  p {
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  ul, ol, dl {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  blockquote {
    margin: 0 0 15px;
    padding: 0 0 0 15px;
    border-left: 5px solid #53b36c;
  }
  blockquote p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
  }
  blockquote p:first-child {
    font-size: 18px !important;
    line-height: 30px !important;
  }
  blockquote p:last-child {
    margin-bottom: 0;
  }
  blockquote blockquote {
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
  }
  blockquote blockquote p {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
  }
  blockquote cite {
    color: #777;
    font-size: 14px;
  }

  .cover {
    height: 250px !important;
  }

  .cover-body {
    padding: 10px 15px;
  }
  .cover-body h1 {
    font-size: 35px;
    line-height: 35px;
  }
  .cover-body h2 {
    margin-bottom: 10px;
  }

  .archive-header {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .modularis-pagination {
    margin-right: 15px;
    margin-left: 15px;
  }

  .post, .type-post, .type-page, .type-attachment {
    margin: 10px 15px 30px;
    padding-bottom: 15px;
  }
  .post .entry-header, .type-post .entry-header, .type-page .entry-header, .type-attachment .entry-header {
    margin-bottom: 25px;
  }
  .post .entry-meta, .type-post .entry-meta, .type-page .entry-meta, .type-attachment .entry-meta {
    line-height: 18px;
  }
  .post .entry-title, .type-post .entry-title, .type-page .entry-title, .type-attachment .entry-title {
    font-size: 30px;
    line-height: 36px;
  }
  .post .entry-thumbnail, .type-post .entry-thumbnail, .type-page .entry-thumbnail, .type-attachment .entry-thumbnail {
    margin-bottom: 20px;
  }
  .post .entry-footer, .type-post .entry-footer, .type-page .entry-footer, .type-attachment .entry-footer {
    padding-top: 20px;
  }
  .post .entry-footer .entry-actions, .type-post .entry-footer .entry-actions, .type-page .entry-footer .entry-actions, .type-attachment .entry-footer .entry-actions {
    margin-bottom: 20px;
    float: none;
  }
  .post .entry-author-card .entry-author-card-avatar, .type-post .entry-author-card .entry-author-card-avatar, .type-page .entry-author-card .entry-author-card-avatar, .type-attachment .entry-author-card .entry-author-card-avatar {
    display: none;
  }
  .post .entry-author-card .entry-author-card-avatar .avatar, .type-post .entry-author-card .entry-author-card-avatar .avatar, .type-page .entry-author-card .entry-author-card-avatar .avatar, .type-attachment .entry-author-card .entry-author-card-avatar .avatar {
    width: 36px;
    height: 36px;
  }
  .post.format-standard .entry-content > p, .post.format-standard .entry-summary > p, .type-post.format-standard .entry-content > p, .type-post.format-standard .entry-summary > p, .type-page.format-standard .entry-content > p, .type-page.format-standard .entry-summary > p, .type-attachment.format-standard .entry-content > p, .type-attachment.format-standard .entry-summary > p {
    margin-bottom: 25px;
  }
  .post.format-standard .entry-content > p:first-child, .post.format-standard .entry-summary > p:first-child, .type-post.format-standard .entry-content > p:first-child, .type-post.format-standard .entry-summary > p:first-child, .type-page.format-standard .entry-content > p:first-child, .type-page.format-standard .entry-summary > p:first-child, .type-attachment.format-standard .entry-content > p:first-child, .type-attachment.format-standard .entry-summary > p:first-child {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
  }
  .post.format-quote blockquote, .type-post.format-quote blockquote, .type-page.format-quote blockquote, .type-attachment.format-quote blockquote {
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
  }
  .post.format-quote blockquote p, .type-post.format-quote blockquote p, .type-page.format-quote blockquote p, .type-attachment.format-quote blockquote p {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
  }
  .single .post.format-quote .entry-content, .single .post.format-quote .entry-summary, .single .type-post.format-quote .entry-content, .single .type-post.format-quote .entry-summary, .single .type-page.format-quote .entry-content, .single .type-page.format-quote .entry-summary, .single .type-attachment.format-quote .entry-content, .single .type-attachment.format-quote .entry-summary {
    margin-bottom: 0;
  }
  .single .post.format-quote .entry-footer, .single .type-post.format-quote .entry-footer, .single .type-page.format-quote .entry-footer, .single .type-attachment.format-quote .entry-footer {
    border-top: none;
  }
  .single-post .post .entry-header, .single-post .type-post .entry-header, .single-post .type-page .entry-header, .single-post .type-attachment .entry-header {
    margin-bottom: 15px;
    padding-top: 15px;
  }
  .single-post .post .entry-content, .single-post .post .entry-summary, .single-post .type-post .entry-content, .single-post .type-post .entry-summary, .single-post .type-page .entry-content, .single-post .type-page .entry-summary, .single-post .type-attachment .entry-content, .single-post .type-attachment .entry-summary {
    margin-bottom: 20px;
  }

  .type-page .entry-header {
    margin-bottom: 15px;
    padding-top: 15px;
  }
  .type-page .entry-content, .type-page .entry-summary {
    margin-bottom: 20px;
  }

  .scriptor--single-content--two-columns.single-post .post.format-standard .entry-content, .scriptor--single-content--two-columns.single-post .type-post.format-standard .entry-content {
    -webkit-columns: 1;
    -moz-columns: 1;
    -ms-columns: 1;
    -o-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -ms-column-gap: 0;
    -o-column-gap: 0;
    column-gap: 0;
  }
  .scriptor--single-content--two-columns.single-post .type-page .entry-content {
    -webkit-columns: 1;
    -moz-columns: 1;
    -ms-columns: 1;
    -o-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -ms-column-gap: 0;
    -o-column-gap: 0;
    column-gap: 0;
  }

  .posts-grid-wrapper {
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
  }
  .posts-grid-wrapper .post {
    padding-right: 0 !important;
    margin-bottom: 20px !important;
    float: none !important;
    width: 100% !important;
  }

  .post-navigation {
    margin-right: 15px;
    margin-left: 15px;
  }

  .comment {
    padding-left: 0;
  }

  .comments-title {
    margin-bottom: 20px;
  }

  .comments-area {
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .comment-author .avatar {
    display: none;
  }

  .comment-respond {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .comment-content p, .comment-content ul > li, .comment-content ol > li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
  }

  .comment-form label, .contact-form label {
    font-size: 12px;
  }
  .comment-form label.error, .contact-form label.error {
    font-family: "Source Sans Pro";
    font-size: 12px;
  }
  .comment-form input[type="text"],
  .comment-form input[type="email"],
  .comment-form input[type="url"], .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="url"] {
    width: 100%;
  }

  .wp-caption.alignnone {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .gallery-item {
    width: 100% !important;
  }
}
